
/* Your CSS Code here. */
#gameContainer {
	width: 400px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}

#gameContainer div {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	box-sizing: border-box;
}

.snakeBodyPixel {
	background-color: green;
}

.food {
	background-color: red;
}

.scoreBoard {
	margin-top: 10px;
	text-align: center;
}